extends layout 

block content 
    h2=title 
    form(method="POST")
        div.form-field
            label(for="name") #[strong Name*]:
            input#name(type="text" name='name' placeholder='category name' required value=(category === undefined ? '' : category.name))  
        div.form-field
            label(for="description") #[strong Description]:
            input#description(type='text' name='description' placeholder='category description' value=(!category ? '' : category.description))

        if category !== undefined
            div.form-field
                label(for='password') #[strong Secret password*]: 
                input#password(type='password' name='password' required)
        div.form-field
            button(type='submit') Submit
    if errors 
      h2 Errors: 
      ul 
        for error in errors 
            li=error.msg