extends layout

block content
  h1= title
  p Welcome to Inventory App! This is a basic express app for managing a fictional store's item inventory.
  h2 Contents
  ul 
    li #{itemCount} items 
    li #{categoryCount} categories
    li #{stock} total items in stock
