extends layout

block content
  h2= title
  p Welcome to Inventory App! This is a basic express app for managing a fictional store's item inventory.
  p Anyone can create and read items and categories, but you need a secret password to update and delete.
  h2 Contents
  ul 
    li #{itemCount} items 
    li #{categoryCount} categories
    li #{stock} total items in stock
  
