doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Inventory App 
    ul 
      li 
        a(href='/') Index
      li 
        a(href='/inventory/categories') Categories 
      li
        a(href='/inventory/items') Items
    block content
